* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*Pending style*/
#notification_box{
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1% 4%;
    background-color:#f6f2ed5b;
}

#notification_box label{
    color:rgb(84, 84, 84);
    font-size: calc(12px + 0.3vw);
}

/*Pending table styles for administrator*/

#pending_form table, #student_handling_form table {
    border-collapse: collapse;
    width: 92%;
    margin: 2% 4% auto 4%;
}

th, td {
    text-align: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

th:last-of-type, td:last-of-type{
    text-align: right;
    padding-right: 2%;
}

tr:nth-child(even) {
    background-color:rgba(212, 212, 211, 0.73);
}

#finalize_button {
    border-radius: 50px;
    width: auto;
    margin-top: 2%;
    right: 4%;
    position: absolute;
    background-color: white;
}

#finalize_button:hover {
    border-color: rgb(153, 218, 149);
}

/*Main content styles*/
h1 {
    font-weight: normal;
    margin-top: 2%;
    margin-left: 4%;
    font-size: calc(22px + 0.3vw);
}

hr {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    border: 0px;
    border-top: 2px solid rgb(223, 200, 172);
}

/* Group application styles */

#group_addition_form select{
    margin: 1% auto 2% 0%;
    width: 40%;
    height: 2%;
    text-align: left;
    color:black;
    outline: none;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    border: 1px solid rgb(134, 132, 132);
}

#label_div {
    margin: 0% auto;
}

#apply_button {
    margin: 3% 85% 4% 0%;
    width: 15%;
    height: 2%;
    text-align: center;
    border: 1px solid black;
    background-color:rgba(228, 230, 225, 0.774);
    outline: none;
    color:black;
    border-radius: 10px;
}

#apply_button:hover{
    border-color:rgba(116, 240, 122, 0.774);
}

/*Cards*/
.card_row {
    display: flex;
    width: 96%;
    margin: 2% 2%;
}

.big_card, .small_card {
    border: 1px solid black;
    box-shadow: 0 5px 10px 0 rgba(94, 85, 73, 0.5);
    transition: 0.4s;
    border-radius: 5px;
    margin: 2% auto;
    padding-top: 10%;
    padding-bottom: 11%;

    text-align: center;
    cursor: pointer;
}

.big_card {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.small_card {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 2%;
}

.place_holder_card {
    width: 15%;
    box-shadow: 0;
    border: 0px;
    margin: 2% auto;
}

.title {
    font-size: calc(15px + 0.3vw);
}

.small_card .title, .big_card .title {
    cursor: pointer;
    margin: 0% 5% 15% 5%;
    width: 90%;
}

.small_card .description {
    cursor: pointer;
    font-size: calc(12px + 0.3vw);
    margin: auto 3% auto 3%;
    width: 90%;
}

.small_card .level_container {
    cursor: default;
    display: flex;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 0%;
}

/*Level bar on cards*/

.level_container .level_bar{
    width: 30%;
    margin: 0% 5% 0% 0%;
    height: 100%;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid black;
}

.level_container .level_counter{
    width: 15%;
    margin: 0% 0% 0% 50%;
}

.progress_line {
    background-color: rgb(78, 203, 78);
    height: 100%;
    margin: auto auto auto 0%;
    border-radius: 5px;

}

.big_card:hover, .small_card:hover {
    box-shadow: 0 12px 17px 0 rgba(61, 54, 46, 0.5);
    transform: scale(1.25);
    transition: 1s;
}

/*Group selector for student handling, student grades etc.*/

select#group_selector {
    width: 20%;
    border-radius: 50px;
    margin: 0% auto 0% 4%;
}

/*Practice page content*/

.practice_container {
    display: flex;
    width: 92%;
    margin: 2% 4% 2% 4%;
    border-radius: 2px;
    border: 1px solid black;
    box-shadow: 0 5px 10px 0 rgba(94, 85, 73, 0.5);
}

.definitions_container {
    width: 38%;
    margin: 2% 0% 2% 1%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.definitions_container label {
    width: auto;
    margin: 2% auto 3% 5%;
}

.task_container {
    width: 60%;
    margin: 2% 1% 2% 0%;
    display: flex;
    flex-direction: column;
}

.task {
    width: 90%;
    margin: 0% 5%;
}

.task_data {
    margin: 3% 0% 1% 0%;
}

.task_label{
    text-align: justify;
    display: block;
    font-size: calc(11px + 0.3vw);
    width: auto;
    margin-bottom: 1%;
}

.solution_container, .title_and_progress {
    width: 100%;
    margin: 2% 0% 6% 0%;
    display: flex;
}

.title_and_progress .level_container {
    cursor: default;
    display: flex;
    width: 20%;
    margin: 0% 5% 0% 25%; 
}

.title_and_progress .title {
    width: 20%;
    margin: 0% 25% 0% 5%; 
}

.solution_container, .multiple_solution_input_container, .single_solution_input_container {
    margin: 2% 0% 0% 0%;
}

.multiple_solution_input_container, .single_solution_input_container {
    display: flex;  
    width: 100%; 
}

.partial_task{
    margin: 0% 0% 5% 0%;
}

.solution_label_container {
    display: flex;
    flex-direction: column;
    margin: 2% 0% 0% 0%;
}

.solution_container label {
    margin: 0% 2% 0% 0%;
}

.solution_input {
    border-radius: 5px;
    padding-left: 2%;
    color:rgb(134, 132, 132);
    border: 1px solid rgba(30, 144, 236, 0.899);
}

.multiple_solution_input_container input, .single_solution_input_container input {
    margin: 0% 1% 0% 1%; 
    width: 10%;
    border-radius: 5px;
    padding-left: 2%;
    color:rgb(134, 132, 132);
}

.solution_container select {
    width: 25%;
    margin: 0% 45% 0% 3%; 
    border-radius: 5px;
    padding-left: 2%;
    color:black;
}

.solution_button, .request_new_task_button {
    width: 20%;
    margin: 1% 40% 5% 40%; 
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 50px;
    background-color: rgb(250, 248, 248);
    border: 1px solid black;
}

.correct {
    border-radius: 5px;
    border: 1px solid green;
    color:rgb(134, 132, 132);
}

.wrong {
    border-radius: 5px;
    border: 1px solid red;
    color:rgb(134, 132, 132);
}

.small_task_container{
    width: 100%;
    margin: 3% 0% 5% 0%;
}

ul {
    margin: 0%;
    padding-left: 18px;
}

.exp{
    position: relative;
    bottom: 6px;
    font-size: smaller;
}

.bottom{
    position: relative;
    top: 6px;
    left: -2px;
    font-size:smaller;
}

.solution_table, .stair_table, .residue_system_table {
    border-collapse: collapse;
    width: 100%;
    margin: 2% 0% 3% 0%;
}

.solution_table tr:first-of-type{
    border-bottom: 1px solid black;
}

.solution_table td:last-of-type, .solution_table th:last-of-type{
    border-left: 1px dashed black;
}

.solution_table th, .solution_table td, .residue_system_table th, .residue_system_table td {
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
}

.solution_table input, .stair_table input, .residue_system_table input{
    width: 60%;
    margin: 2% 38% 2% 2%;
}

.stair_table tr, .residue_system_table tr, .prime_factorization_table tr, .eucleidan_solution_table tr, .polynomial_division_table tr {
    background-color:white;
}

.no_content_cell {
    border-right: 1px solid black; 
    padding-top: 0%;
    padding-bottom: 0%;
}

.stair_table td {
    padding-top: 1%;
    padding-bottom: 0%;
}

.residue_system_table tr:first-of-type {
    border-bottom: 1px solid black

}

.residue_system_table td:first-of-type,  .residue_system_table th:first-of-type{
    border-right: 1px solid black
}

.right-top{
    position: relative;
    bottom: 14px;
    left: 65%;
    font-size:smaller;
}

.left-bottom {
    position: relative;
    top: 10px;
    right: 35%;
    font-size:smaller;
}

/*Task generator page styles*/

.task_generator_container {
    margin: 2% 4% auto 4%;
    display: flex;
}

#task_generation_settings, .pdf_page_button_container {
    margin: 2% 9% auto 6%;
    width: 85%;
}

#preview {
    margin: 2% 9% auto auto;
    border: 1px solid rgb(156, 156, 156);
    height: 600px;
    width: 200px;
    overflow: scroll;
}

#pdf_page_title_container {
    margin: 2% auto;
}

#pdf_page_title {
    font-size: calc(17px + 0.3vw);
}

.pdf_page_section {
    margin-bottom: 6%;
}

.pdf_page_section_label{
    font-size: calc(15px + 0.3vw);
}

.pdf_page_styling_label, .pdf_page_task_choice_label{
    font-size: calc(10px + 0.3vw);
    margin: 0%;
    width: 10%
}

.pdf_page_style_container, .pdf_page_task_choice_container{
    margin: 2% 0% 0% 0%;
    display: flex;
    width: 95%;
}

.pdf_page_style_container input, 
.pdf_page_style_container select, 
.pdf_page_task_choice_container select,
.pdf_page_task_choice_container input {
    border-radius:5px;
    border: 1px solid rgb(150, 147, 147)
}

.full_hr {
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 5%;
    border: 0px;
    border-top: 2px solid rgb(232, 196, 154);
}

.task_generation_textarea {
    width: 40%;
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid rgb(150, 147, 147);
    resize: none;
}

#save_pdf_button, #generator_button, #new_task_generator_button {
    width: 20%;
    border-radius: 50px;
    border: 1px solid black;
    background-color: rgb(254, 255, 255);
}

#save_pdf_button {
    margin: 2% 40% 5% 40%;
}

#new_task_generator_button {
    margin: 2% 40% 5% 40%;
}

#editor_panel {
    background-color: rgba(244, 242, 242,1);
    z-index: 10;
    width: 100%;
    height: 10%;
    display: flex;
    position: sticky;
    top: 0;
}

#text_editor {
    width: 55%;
    display: flex;
}

#alignment_editor {
    width: 20%;
    display: flex;
    border-left: 1px solid black
}

#linebreak_editor {
    width: 25%;
    border-left: 1px solid black
}

#text_editor div {
    width: 20%;
    display: flex;
    height: 50%;
    margin: auto;
}

#linebreak_editor div {
    width: 80%;
    display: flex;
    margin: 1% auto;
}

#alignment_editor img{
    margin: auto;
    width: 13%;
    height: 65%;
    box-shadow: 0px 6px 10px 0px rgba(174, 171, 168, 0.5);
}

#text_decoration img  {
    margin: auto;
    height: 90%;
    width: 15%;
    box-shadow: 0px 6px 10px 0px rgba(174, 171, 168, 0.5);
}

#page_container {
    margin: 5% 5% 5% 5%;
    height: 90%;
    width: 90%;
}

.prime_factorization_table, .eucleidan_solution_table, .polynomial_division_table {
    border-collapse: collapse;
}

.prime_factorization_table td:first-of-type, .eucleidan_solution_table td:first-of-type{
    border-right: 1px solid black;
    padding-right: 10px;
}

.prime_factorization_table td:last-of-type{
    padding-left: 2px;
    
}

.eucleidan_solution_table td, .polynomial_division_table td, .polynomial_division_table th, .stair_table td {
    width: 2%;
    white-space: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}


.eucleidan_solution_table tr:first-of-type {
    border-bottom: 1px solid black;
}

.paragraph{
    margin-top: 1%;
    margin-bottom: 1%;
}

@media only screen and (max-width: 600px) {
    .card_row {
        display: flex;
        flex-direction: column;
        width: 96%;
        margin: 2% 2%;
    }

    .big_card, .small_card {
        width: 50%;
        border: 1px solid black;
        box-shadow: 0 5px 10px 0 rgba(94, 85, 73, 0.5);
        transition: 0.4s;
        border-radius: 5px;
        margin: 2% auto;
        padding-top: 25%;
        padding-bottom: 30%;
    
        text-align: center;
        cursor: pointer;
    }
}