* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(12px + 0.3vw);
}

input, select {
    outline: none;
}

/*Main content styles*/
h1 {
    font-weight: normal;
    margin-top: 2%;
    margin-left: 4%;
    font-size: calc(22px + 0.3vw);
}

hr {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    border: 0px;
    border-top: 2px solid rgb(223, 200, 172);
}

/*Group selector for student handling, student grades etc.*/

select#group_selector {
    width: 20%;
    border-radius: 50px;
    margin: 0% auto 0% 4%;
}

/* Non-header navigation row */

#non_header_navigation_row {
    display: flex;
    width: 92%;
    margin: 6% 4% 2% 4%;
    text-align: center;
}

.non_header_navigation_row_button {
    width: 23%;
    margin: 0% auto;
    padding: 10px 0px;
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197);
}

.non_header_navigation_row_button:hover,
.non_header_navigation_row_button label:hover {
    cursor: pointer;
}

.non_header_navigation_row_button:hover {
    background-color: rgba(247, 195, 132, 0.8);;
}

.non_header_navigation_row_button.chosen {
    background-color: #f5d3aacc;
}

/*Practice page content*/

.prime_factorization_table, .eucleidan_solution_table, .polynomial_division_table {
    border-collapse: collapse;
}

.prime_factorization_table td:first-of-type, .eucleidan_solution_table td:first-of-type{
    border-right: 1px solid black;
    padding-right: 10px;
}

.prime_factorization_table td:last-of-type{
    padding-left: 2px;
    
}

.eucleidan_solution_table td, .polynomial_division_table td, .polynomial_division_table th, .stair_table td {
    width: 2%;
    white-space: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

.eucleidan_solution_table tr:first-of-type {
    border-bottom: 1px solid black;
}

@keyframes moving_symbols {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: right top;
    }
    100% {
        background-position: left bottom;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: calc(18px + 0.3vw);
    }
}