.grades_div {
    width: 92%;
    margin: 3% 4% 1% 4%;
}

.grades_div hr {
    margin: 1% 0% 0% 0%
}

.grades_tables_div {
    display: flex;
}

.grades_tables_div table {
    border-collapse: collapse;
    width: 40%;
    margin: 3% auto auto auto;
}

tr:nth-child(even) {
    background-color:rgba(227, 227, 227, 0.73);
}

.grades_tables_div table tr {
    border-top: 1px solid black;
}

.grades_tables_div tr:first-of-type {
    border-top: 0px;
}

.grades_tables_div table td,
.grades_tables_div table th  {
    text-align: left;
    padding: 10px;
    white-space: nowrap;
    border-left: 1px dashed black;   
}

.grades_tables_div table th:first-of-type,
.grades_tables_div table td:first-of-type  {
    border-left: 0px;
}

@media only screen and (max-width: 626px) {
    .grades_tables_div {
        flex-direction: column;
    }
}