body{
    width: 100%;
    margin: 0%;
    min-height: 100vh;

    background-image: url("./pics/moving_background_alt.png");
    background-position: relative;
    background-attachment: fixed;
    background-size: calc(1380px + 0.6vw) calc(640px + 0.6vw);
    background-repeat: repeat;
    animation: moving_symbols 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/*Login page style*/

#success_div {
    background-color: rgba(125, 247, 118, 0.627);
    text-align: center;
    
    position: absolute;
    top: 0%;
    width: 100%;

    padding-top: 1%;
    padding-bottom: 1%;
}

form {
    margin: 10% auto 1% auto;
    width:60%;
    padding-top: 2%;

    background-color: #f1e6d8f2; 
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

form input,
form select{
    margin: 1% auto;
    width: 82%;
    height: 2%;
    text-align: left;
    color:rgb(134, 132, 132);
    outline: none;
    border-radius: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    border: 1px solid rgb(134, 132, 132);
}

form select {
    border-radius: 0px;
    width: 82%;
    color: black;
}

form input:last-of-type{
    margin: 2% auto 4% auto;
    width: 20%;
    height: 2%;
    text-align: center;
    background-color:rgba(228, 230, 225, 0.774);
    outline: none;
    color:black;
}

form input:last-of-type:hover{
    border-color:rgba(116, 240, 122, 0.774);
}

.password_row{
    width: 82%;
    display: flex;
    margin: 2% auto;
}

#user_password,
#user_password_again {
    width: 85%;
    margin: 0%;
    height: 2%;
    text-align: left;
    color:rgb(134, 132, 132);
    outline: none;
    border-radius: 50px;
    padding: 2%;
    border: 1px solid rgb(134, 132, 132);
}

#show_password_image, #show_password_image_first, #show_password_image_second{
    width: 5%;
    margin: auto;
    background-color:rgba(255, 255, 255, 0);
    border: 0px;
}

.error_label {
    color: red;
    margin: 0% auto 2% auto;
    width: 82%;
    text-align: left;
}

#back_button{
    margin: 1% 45% auto 45%;
    width: 10%;
    height: 1%;
    outline: none;
    border-radius: 50px;
    padding: 1%;
    background-color:#e4e6e1c5;
    border: 1px solid black
}

#back_button:hover{
    border-color:rgba(116, 240, 122, 0.774);
}

#forgotten_password{
    color: rgba(1, 94, 148, 0.822); 
    width: 20%;
    margin: 0% auto 2% 0%;
    padding:0%;
    height: 2%;
}

#new_account{
    color: rgba(1, 94, 148, 0.822); 
    width: 20%;
    margin: 0% 0% 2% auto;
    padding:0%;
    height: 2%;
    text-align: right;
}

#misc_holder{
    width: 80%;
    margin: 1% 10%;
    display: flex;
}

a{
    color: rgba(1, 94, 148, 0.822); 
    width: 50%;
    height: 2%;
    text-decoration: none;
}

.label_div{
    width: 82%;
    margin: 5% auto 0% auto;
}

#student_groups,
#teacher_groups {
    margin: 1% auto 1% 9%;
    width: 100%;
}

.title_label{
    color: black;
    text-align: justify;
    width: 78%;
    height: 2%;
}

#user_input {
    width: 80%;
}

@keyframes moving_symbols {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: right top;
    }
    100% {
        background-position: left bottom;
    }
}

@keyframes color_changing {
    0% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    10% {
        background-color: rgba(233, 255, 195, 0.35)
    }
    20% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    30% {
        background-color: rgba(255, 247, 195, 0.35)
    }
    40% {
        background-color: rgba(233, 255, 195, 0.35)
    }
    50% {
        background-color: rgba(195, 227, 255, 0.35)
    }
    60% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    70% {
        background-color: rgba(253, 214, 206, 0.35)
    }
    80% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    90% {
        background-color: rgba(255, 234, 246, 0.35)
    }
    100% {
        background-color: rgba(233, 255, 195, 0.35)
    }
}

@media only screen and (max-width: 576px) {
    form {
        margin: 40% auto 1% auto;
        width: 80%;
        padding-top: 5%;
    }
    
    #forgotten_password,
    #new_account {
        width: 40%;
        font-size: calc(11px + 0.3vw);
    }

    #show_password_image,
    #show_password_image_first, 
    #show_password_image_second {
        margin: auto;
        width: 10%;
    }

    form > input:last-of-type,
    #register_button{
        width: 25%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #back_button{
        width: 14%;
        margin: 1% 43%;
    }

    .title_label{
        font-size: calc(11px + 0.3vw);
    }

    #register_button{
        width: 30%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}