#new_message_form .finalize_button {
    width: 10%;
    margin: 2% 45%;
    right: 0%;
    position: relative;
    background-color: white;
}

#write_message_button {
    position: fixed;
    right: 4%;
    bottom: 4%;
    width: 3%;
    height: 6%;
    padding: 3px 3px;
    border-radius: 3px;
    border: 1px solid rgb(178, 176, 176);
    opacity: 1;
    background-color: white;
}

.message_and_bubble_holder{
    width: 92%;
    margin: 0% 4% 0% 4%;
    display: flex;
}

.message_container,
.expandable_message_container {
    width: 92%;
    margin: 2% 4%;
    display: flex;
    border-radius: 3px;
    border: 1px solid rgb(178, 176, 176);
    cursor: pointer;
}

.message_and_bubble_holder .message_container{
    width: 97%;
    margin: 2% 0%;
    border-radius: 0px 3px 3px 0px;
}

.message_container {
    border-left: 0px;
}

.message_from,
.message_to, 
.message_topic,
.message_text,
.message_date {
    width: 12%;
    margin: 2% auto;
    text-align: center;
}

.message_separator {
    border-left: 1px solid rgb(178, 176, 176);
    width: 1px;
    margin: 1% auto;
}

.message_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.message_date {
    width: 49%;
    margin-left: 1%;
    text-align: left;
}

.remove_message_bubble,
.check_message_bubble {
    border: 1px solid rgb(178, 176, 176);
    margin: 2% 0%;
    width: 3%;
    border-radius: 3px 0px 0px 3px;
}

.remove_message_bubble input,
.check_message_bubble input {
    margin: 70% 10%;
    width: 90%;
    height: 23%;
}

.remove_selected_elements,
.recover_selected_elements {
    position: fixed;
    left: 4%;
    bottom: 4%;

    width: 3%;
    height: 6%;
    border: 1px solid rgb(202, 202, 202);
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.recover_selected_elements {
    left: 8%;
}

.thread_count_bubble {
    margin: 2% auto;
    border-radius: 50px;
    padding: 4px 8px;
    border: 1px solid rgb(178, 176, 176);
}

.seen {
    background-color: rgb(255, 255, 255);
}

.not_seen {
    background-color: rgb(244, 242, 242);
}

.message_container_expanded {
    border-radius: 5px;
    cursor: pointer;
}

.message_container_expanded div{
    width: 96%;
    margin: 1% 2%;
}

.message_container_expanded div:last-of-type{
    margin: 2% 2%;
    overflow-wrap: break-word;
}

#reply_button {
    width: 92%;
    margin: 1% 4%;
    border: 1px solid rgb(202, 202, 202);
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#new_message_form,
.message_container_expanded {
    width: 92%;
    margin: 2% 4%;
    border: 1px solid rgb(202, 202, 202);
}

.message_first_line,
.message_receiver_div,
.message_topic_div {
    display: flex;
}

.message_receiver_div {
    width: 40%;
    margin: 2% auto 2% 2%;
}

.message_topic_div {
    width: 60%;
    margin: 2% 2% 2% auto;
}

.message__div {
    width: 96%;
    margin: 2% 2%;
}

.message_label {
    width: auto;  
}

.message_topic_textarea,
.receiver_selector {
    width: 65%;
    margin: auto 5% auto 1%;
}

.receiver_selector {
    width: 40%;
}

.message_text_textarea{
    margin: 1% 0%;
    width: 100%;
    resize: vertical;
}

.message_topic_textarea {
    resize: none;
}

.finalize_button {
    width: 10%;
    margin: 2% 45%;
    right: 0%;
    position: relative;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
}

.finalize_button:hover {
    border-color: rgb(153, 218, 149);
}

@media only screen and (max-width: 576px) {
    #new_message_form {
        font-size: calc(10px + 0.3vw);
    }

    .receiver_selector {
        font-size: calc(9px + 0.3vw);
    }

    .thread_count_bubble {
        padding: 6px 10px;
    }

    #write_message_button {
        width: 8%;
        height: 8%;
    }

    #new_message_form .finalize_button {
        width: 16%;
        margin: 2% 42%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
    #write_message_button {
        width: 5%;
        height: 7%;
    }
}