/*Pending style*/
.notification_box{
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1% 4%;
    background-color:#f6f2ed5b;
}

.notification_box label{
    color:rgb(84, 84, 84);
    font-size: calc(12px + 0.3vw);
}