.practice_container {
    display: flex;
    width: 92%;
    margin: 2% 4% 2% 4%;
}

.definitions_container {
    width: 38%;
    margin: 2% auto auto 0%;
    display: flex;
    flex-direction: column;
}

.definition_holder {
    box-shadow: 0 5px 10px 0 rgba(94, 85, 73, 0.5);
    border-radius: 2px;
    margin: 0% 4% 1% 0%;
}

.definition_holder.title_holder {
    margin: 0% 4% 1% 0%;
    padding: 5% 0%;
    box-shadow: 0 5px 5px 0 rgba(94, 85, 73, 0.5);
}


.defined {
    margin: 5% auto auto 4%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.defined label {
    font-weight: bold;
}

.definition {
    margin: 2% 4% 5% 4%;
    text-align: justify;
    display: none;
    line-height: 2;
}

.show_button {
    margin: auto 46.25% -4% 46.25%;
    width: 7.5%;
    border-radius: 50px;
    padding: 2%;
    background-color: white;
    border: 1px solid rgba(94, 85, 73, 0.5);
}

.show_button:hover{
    box-shadow: 0 5px 10px 0 rgba(94, 85, 73, 0.5);
}

.bottom_triangle {
    border-bottom: calc(10px + 0.4vw) solid rgba(94, 85, 73, 0.5); 
    border-left: calc(7px + 0.01vw) solid white; 
    border-right: calc(7px + 0.05vw) solid white; 
}

.top_triangle {
    border-top: calc(10px + 0.4vw) solid rgba(94, 85, 73, 0.5); 
    border-left: calc(7px + 0.05vw) solid white;
    border-right: calc(7px + 0.05vw) solid white; 
}

.definition_label::selection {
    background-color: bisque;
}

.definition_list {
    list-style: circle outside;
    color:rgb(134, 132, 132);   
}

.definition_list li {
    margin: 3% auto;
}

.definition_list label {
    color: black;
}

.first_definition {
    display: block;
}

.elliptical_definition {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}


.task_container {
    width: 60%;
    margin: 2% 0% auto auto;
    display: flex;
    flex-direction: column;

    box-shadow: 0 5px 10px 0 rgba(94, 85, 73, 0.5);
    border-radius: 2px;
}

.task {
    width: 90%;
    margin: 0% 5%;
}

.task_data {
    margin: 3% 0% 1% 0%;
}

.task_label{
    text-align: justify;
    display: block;
    width: auto;
    margin-bottom: 1%;
}

.solution_container, .title_and_progress {
    width: 50%;
    margin: 2% 0% 6% 0%;
    display: flex;
}

.title_and_progress {
    width: 100%;
}

.title_and_progress .level_container {
    cursor: default;
    display: flex;
    width: 20%;
    margin: 0% 5% 0% 25%; 
}

.title_and_progress .title {
    width: 20%;
    margin: 0% 25% 0% 5%; 
}

.definitions_container .title {
    width: auto;
    margin: 2% 25% 0% 4%; 
}

.solution_container, .multiple_solution_input_container, .single_solution_input_container {
    margin: 2% 0% 0% 0%;
}

.multiple_solution_input_container, .single_solution_input_container {
    display: flex;  
    width: 100%; 
}

.partial_task{
    margin: 0% 0% 5% 0%;
}

.solution_label_container {
    display: flex;
    flex-direction: column;
    margin: 2% 0% 0% 0%;
}

.solution_container label {
    margin: 0% 2% 0% 0%;
    width: 15%;
}

.solution_input, 
.solution_container input{
    border-radius: 5px;
    padding-left: 2%;
    color:rgb(134, 132, 132);
    margin: auto 0% auto auto;
}

.multiple_solution_input_container input, .single_solution_input_container input {
    margin: 0% 1% 0% 1%; 
    width: 10%;
    border-radius: 5px;
    padding-left: 2%;
    color:rgb(134, 132, 132);
}

.solution_container select,
.solution_container select {
    width: 30%;
    margin: 0% 45% 0% 3%; 
    border-radius: 5px;
    padding-left: 2%;
    color:black;
    margin: auto 0% auto auto;
}

.solution_input,
.solution_container select {
    border: 1px solid rgba(186, 135, 74, 0.8);
}

.solution_button, .request_new_task_button {
    width: 20%;
    margin: 1% 40% 5% 40%; 
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 50px;
    background-color: rgb(250, 248, 248);
    border: 1px solid black;
}

.correct {
    border-radius: 5px;
    border: 1px solid green !important;
    color:rgb(134, 132, 132);
}

.wrong {
    border-radius: 5px;
    border: 1px solid red !important;
    color:rgb(134, 132, 132);
}

.small_task_container{
    width: 100%;
    margin: 3% 0% 5% 0%;
}

ul {
    margin: 0%;
    padding-left: 18px;
}

.solution_table, .stair_table, .residue_system_table {
    border-collapse: collapse;
    width: 100%;
    margin: 2% 0% 3% 0%;
}

.solution_table tr:first-of-type{
    border-bottom: 1px solid black;
}

.solution_table td:last-of-type, .solution_table th:last-of-type{
    border-left: 1px dashed black;
}

.solution_table th, .solution_table td, .residue_system_table th, .residue_system_table td {
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
}

.solution_table input, .stair_table input, .residue_system_table input{
    width: 60%;
    margin: 2% 38% 2% 2%;
}

.stair_table tr, .residue_system_table tr, .prime_factorization_table tr, .eucleidan_solution_table tr, .polynomial_division_table tr {
    background-color:white;
}

.no_content_cell {
    border-right: 1px solid black; 
    padding-top: 0%;
    padding-bottom: 0%;
}

.stair_table td {
    padding-top: 1%;
    padding-bottom: 0%;
}

.residue_system_table tr:first-of-type {
    border-bottom: 1px solid black

}

.residue_system_table td:first-of-type,  .residue_system_table th:first-of-type{
    border-right: 1px solid black
}

.right-top{
    position: relative;
    bottom: 14px;
    left: 65%;
    font-size:smaller;
}

.left-bottom {
    position: relative;
    top: 10px;
    right: 35%;
    font-size:smaller;
}

.level_container .level_bar{
    width: 30%;
    margin: 0% 5% 0% 0%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.level_container .level_counter{
    width: 15%;
    margin: 0% 0% 0% 50%;
}

.progress_line {
    background-color: rgb(78, 203, 78);
    height: 100%;
    margin: auto auto auto 0%;
    border-radius: 5px;

}

@media only screen and (max-width: 576px) {
    .practice_container {
        flex-direction: column;
    }

    .definitions_container, .task_container {
        width: 100%;
    }

    .definition_holder,
    .definition_holder.title_holder {
        margin: 0%;
    }

    .definition_holder:last-of-type{
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 576px) {
    .show_button{
        width: auto;
    }
}
