body{
    width: 100%;
    margin: 0%;
    min-height: 100vh;

    background-image: url("./pics/moving_background.png");
    background-position: relative;
    background-attachment: fixed;
    background-size: calc(600px + 0.6vw) calc(600px + 0.6vw);
    background-repeat: repeat;
    animation: moving_symbols 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*Style of the form*/

#login_form{
    margin: 10% 20% 1% 20%;
    width:60%;
    background-color: rgba(241, 230, 216, 0.95); 
    border-radius: 50px;
    padding-top: 5%;
}

input, select{
    margin: 2% 9%;
    width: 78%;
    height: 2%;
    text-align: left;
    color:rgb(134, 132, 132);
    outline: none;
    border-radius: 50px;
    padding: 2%;
    border: 1px solid rgb(134, 132, 132);
}

select {
    border-radius: 0px;
    width: 82%;
    color: black;
}

input:last-of-type{
    margin: 2% 40% 4% 40%;
    width: 16%;
    text-align: center;
    background-color:rgba(228, 230, 225, 0.774);
    color:black;
}

input:last-of-type:hover{
    border-color:rgba(116, 240, 122, 0.774);
}

.password_row{
    width: 80%;
    display: flex;
    margin: 2% 10%;
}

#user_password, #user_password_again {
    width: 85%;
    margin: 0%;
    height: 2%;
    text-align: left;
    color:rgb(134, 132, 132);
    outline: none;
    border-radius: 50px;
    padding: 2%;
    border: 1px solid rgb(134, 132, 132);
}

#show_password_image_first, #show_password_image_second{
    width: 5%;
    margin: auto;
    background-color:rgba(255, 255, 255, 0);
    border: 0px;
}

#back_button{
    margin: 2% 45% 4% 45%;
    width: 10%;
    height: 1%;
    outline: none;
    border-radius: 50px;
    padding: 1%;
    background-color:rgba(228, 230, 225, 0.774);
    color:black;
}

#back_button:hover{
    border-color:rgba(116, 240, 122, 0.774);
}

#error_label{
    color: red;
    margin: 2% 9% 2% 9%;
    width: 82%;
    height: 2%;
    text-align: left;
}

#label_div{
    width: 82%;
    margin: 5% 9% 0% 9%;
}

#subject_group_div{
    margin-top: 5%;
}

#label_div:first-child{
    margin-top: 0%
}

#title_label{
    color: black;
    text-align: justify;
    margin: 0%;
}

a{
    color: rgba(1, 94, 148, 0.822); 
    width: 50%;
    height: 2%;
    text-decoration: none;
}

@keyframes moving_symbols {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: right top;
    }
    100% {
        background-position: left bottom;
    }
}

@keyframes color_changing {
    0% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    10% {
        background-color: rgba(233, 255, 195, 0.35)
    }
    20% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    30% {
        background-color: rgba(255, 247, 195, 0.35)
    }
    40% {
        background-color: rgba(233, 255, 195, 0.35)
    }
    50% {
        background-color: rgba(195, 227, 255, 0.35)
    }
    60% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    70% {
        background-color: rgba(253, 214, 206, 0.35)
    }
    80% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    90% {
        background-color: rgba(255, 234, 246, 0.35)
    }
    100% {
        background-color: rgba(233, 255, 195, 0.35)
    }
}