* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: calc(12px + 0.3vw);
}

input, select {
    outline: none;
}

/*Form general data */

.error_label {
    color: red;
    margin: 0% auto 2% auto;
    width: 82%;
    text-align: left;
}

/*Main content styles*/
h1 {
    font-weight: normal;
    margin-top: 2%;
    margin-left: 4%;
    font-size: calc(22px + 0.3vw);
}

hr {
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    border: 0px;
    border-top: 2px solid rgb(223, 200, 172);
}

/*Notifications style*/
.notification_box{
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1% 4%;
    background-color:#f6f2ed5b;
}

.notification_box label{
    color:rgb(84, 84, 84);
    font-size: calc(12px + 0.3vw);
}

/*Group selector for student handling, student grades etc.*/

select#group_selector {
    width: 20%;
    border-radius: 50px;
    margin: 0% auto 0% 4%;
}

/* Non-header navigation row */

#non_header_navigation_row {
    display: flex;
    width: 92%;
    margin: 6% 4% 2% 4%;
    text-align: center;
}

.non_header_navigation_row_button {
    width: 23%;
    margin: 0% auto;
    padding: 10px 0px;
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197)
}

.non_header_navigation_row_button:hover,
.non_header_navigation_row_button label:hover {
    cursor: pointer;
}

.non_header_navigation_row_button:hover {
    background-color: rgba(247, 195, 132, 0.8);;
}

.non_header_navigation_row_button.chosen {
    background-color: #f5d3aacc;
}

/*Practice page content*/

.prime_factorization_table, .euclidean_solution_table, .polynomial_division_table {
    border-collapse: collapse;
}

.prime_factorization_table td:first-of-type, .euclidean_solution_table td:first-of-type{
    border-right: 1px solid black;
    padding-right: 10px;
}

.prime_factorization_table td:last-of-type{
    padding-left: 2px;
    
}

.euclidean_solution_table td, .polynomial_division_table td, .polynomial_division_table th, .stair_table td {
    width: 2%;
    white-space: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}

.euclidean_solution_table tr:first-of-type {
    border-bottom: 1px solid black;
}

.solution_table, .stair_table, .residue_system_table {
    border-collapse: collapse;
    width: 100%;
    margin: 2% 0% 3% 0%;
}

.solution_table tr:first-of-type{
    border-bottom: 1px solid black;
}

.solution_table td:last-of-type, .solution_table th:last-of-type{
    border-left: 1px dashed black;
}

.solution_table th, .solution_table td, .residue_system_table th, .residue_system_table td {
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
}

.solution_table input, .stair_table input, .residue_system_table input{
    width: 60%;
    margin: 2% auto 2% 2%;
}

.stair_table tr, .residue_system_table tr, .prime_factorization_table tr, .euclidean_solution_table tr, .polynomial_division_table tr {
    background-color:white;
}


.no_content_cell {
    border-right: 1px solid black; 
    padding-top: 0%;
    padding-bottom: 0%;
}

.stair_table td {
    padding-top: 1%;
    padding-bottom: 0%;
}

/* Footer style */
footer {
    width: 100%;
    height: 10%;
    display: flex; 
    position: inherit;
    margin-top: 4%;
    background-color: rgb(249, 249, 249);
}

@keyframes moving_symbols {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: right top;
    }
    100% {
        background-position: left bottom;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: calc(18px + 0.3vw);
    }
}