body{
    width: 100%;
    margin: 0%;
    height: 100%;

    /*background-image: url("./pics/moving_background.png");
    background-size: calc(600px + 0.6vw) calc(600px + 0.6vw);*/
    background-image: url("./pics/moving_background_alt.png");
    background-position: relative;
    background-attachment: fixed;
    background-size: calc(1380px + 0.6vw) calc(640px + 0.6vw);
    background-repeat: repeat;
    animation: moving_symbols 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

/*Header style*/

header {
    width: 100%;
    margin: 20% 0% auto 0%;
}

#sign_in_button {
    position: absolute;
    top: 50%;
    left: 43%;
    width: 14%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 50px;
    border: 2px solid rgb(234, 175, 98);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(243, 241, 241);
    box-shadow: 0px 4px 6px 0px rgba(61, 54, 46, 0.5);
}

#sign_in_button:hover {
    box-shadow: 0 8px 12px 0 rgba(61, 54, 46, 0.5);
}

@keyframes moving_symbols {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: right top;
    }
    100% {
        background-position: left bottom;
    }
}

@keyframes color_changing {
    0% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    10% {
        background-color: rgba(233, 255, 195, 0.35)
    }
    20% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    30% {
        background-color: rgba(255, 247, 195, 0.35)
    }
    40% {
        background-color: rgba(233, 255, 195, 0.35)
    }
    50% {
        background-color: rgba(195, 227, 255, 0.35)
    }
    60% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    70% {
        background-color: rgba(253, 214, 206, 0.35)
    }
    80% {
        background-color: rgba(247, 255, 234, 0.35)
    }
    90% {
        background-color: rgba(255, 234, 246, 0.35)
    }
    100% {
        background-color: rgba(233, 255, 195, 0.35)
    }
}

@media only screen and (max-width: 576px) {
    #sign_in_button {
        left: 40%;
        width: 20%;
    }
}