/* Students' grades page */

.student_grades_form {
    width: 92%;
    margin: 3% 4% 1% 4%
}

.student_grades_form hr {
    margin: 1% 0% 0% 0%
}

.student_grades_form table {
    border-collapse: collapse;
    width: 80%;
    border: 1px solid rgb(253, 252, 252);
}

#grades_form table {
    width: 180%;
}

.student_grades_form table tr {
    border-top: 1px solid black;
}

tr:nth-child(even) {
    background-color:rgba(227, 227, 227, 0.73);
}

.student_grades_form tr:first-of-type {
    border-top: 0px;
}

.student_grades_form table td,
.student_grades_form table th  {
    text-align: left;
    padding: 10px;
    white-space: nowrap;
}

.student_grades_form table th {
    border-left: 1px dashed black;   
}

.student_grades_form table th:first-of-type  {
    border-left: 0px;
}

.student_grades_form input,
.student_grades_form select,
.student_grades_form td.empty_td {
    width: 90%;
    padding: 10px 5%;
    border: 0px;
    border-left: 1px dashed black;
    background-color: rgba(251, 249, 249, 0);
}

.student_grades_form select {
    width: 100%;
}

.student_grades_form input:focus{
    outline: none;
}

.finalize_button {
    width: 10%;
    margin: 2% 45%;
    right: 0%;
    position: relative;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
}

.finalize_button:hover {
    border-color: rgb(153, 218, 149);
}

@media only screen and (max-width: 836px) {
    .finalize_button {
        width: 25%;
        margin-left: 37.5%;
        margin-right: auto
    }

    .student_grades_form table {
        width: 100%;
    }
}

@media only screen and (min-width: 836px) and (max-width: 1024px) {
    .finalize_button {
        width: 18%;
        margin-left: 41%;
        margin-right: auto
    }
}